.port{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    gap: 1px;
}
.myWork{
    width: 50%;
    height: auto;
    margin-top: 0px;
}
.port:hover{
    background-color:#166990;
    transition: 0.5s ease;
}
@media (max-width: 770px) {
    .myWork{
    width: 100%;
    height: auto;
    padding: 20px;
}
}