.footContact{
    text-align: left;
    padding: 20px;
}
.foot{
    margin: 11.7px;
    padding: 20px;
    margin-bottom: 0;
    padding: 0;
}
.last{
    background-color: rgb(198, 206, 213);
    position: absolute;
    width: 100%;
}
.rights{
    text-align: left;
}
.conclusion{
    text-align: right;
}
@media (max-width: 770px) {
    .last{
        font-size: small;
        display: block;
        width: 100;
    }
    .rights{
    text-align: center;
    }
    .conclusion{
        text-align: center;
    }
    .footContact{
        display: block;
    }
}